@use '@angular/material' as mat;
@import 'design-tokens';

@include mat.core();

$my-primary: mat.define-palette(mat.$cyan-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.all-component-themes($my-theme);

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  overflow: auto;
}

.mat-toolbar {
  @include mat.elevation(8);

  app-menu {
    width: 100%;

    ul {
      list-style-type: none;
      display: flex;
      gap: 16px;
      justify-content: end;
    }
  }
}

.mat-drawer {
  width: 300px;
  background-image: linear-gradient(
    90deg,
    hsl(201deg 100% 7%) 0%,
    hsl(201deg 100% 6%) 29%,
    hsl(201deg 100% 6%) 43%,
    hsl(201deg 100% 5%) 57%,
    hsl(201deg 100% 3%) 71%,
    hsl(0deg 0% 0%) 100%
  );
}
